body {
    scroll-behavior: smooth;
    background-color: #a7ffff;
  }
  
  * {
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    justify-content: space-around;
    background-color:rgba(140, 219, 219, 0.932);
  }

  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  ul {
    display: flex;
    gap: 30px; /* jarak antar link */
    padding: 14px;
  }
  li {
    list-style: none;
    font-weight: 600;
  }
  
  li a {
    text-decoration: none; /* untuk menghilangkan garis di bawah link */
    color: black;
  }
  
main table, th, td {
    border:1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
  
   
  }
  
  
  th, td {
    text-align: center; 
    padding: 10px; 
  }


  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(140, 219, 219, 0.932);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 23%;  
    font-size: 14;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  

  footer {
    padding-left: 10px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    bottom: 0;
  }